/* @font-face {
  font-family: 'qtum-icons';
  src:
    url('fonts/qtum-icons.ttf?vyas3r') format('truetype'),
    url('fonts/qtum-icons.woff?vyas3r') format('woff'),
    url('fonts/qtum-icons.svg?vyas3r#qtum-icons') format('svg');
  font-weight: normal;
  font-style: normal;
} */

.eqpay-icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eqpay-icon-footer {
  height: 31px;
  width: 32px;
}

.eqpay-icon--eqpay:before {
  content: "\e906";
}
.eqpay-icon--discord:before {
  content: "\e90d";
}
